@import "./todo.scss";
@import "./reaction.scss";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;

	color: #4d4d4d;

	font-weight: 300;
	max-width: 1500px;

	.app-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 98%;
		height: 100vh;

		& > section {
			flex: 1;
			max-height: 300px;
			max-width: 49%;
			min-width: 400px;
		}

	}

}


button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}










/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo__main__list li .toggle {
		background: none;
	}

	.todo__main__list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}
