@import "./normalize.scss";
@import "./todo.scss";
@import "./reaction.scss";
@import './signin.scss';
@import './form.scss';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;

	color: #4d4d4d;
	background: linear-gradient(to left, #8e9eab , #eef2f3);
	font-weight: 300;
	max-width: 1500px;


	.main-container {
		display: flex;
		width: 100%;

	}
	.app-container {
		display: flex;
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 100%;


		& > section {
			flex: 1 0 49%;
			margin-left: 50px;
			min-width: 400px;
			max-height: auto;
		}

	}

}



button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}



nav {
	position: absolute;
	right: 0;
	top: 0;

	background-color: #fff;
	border-bottom-left-radius: 15px;
	z-index: 10;

	.links-holder {
		padding: 10px;
		display: inline-block;
		width: 130px;
		overflow: hidden;
		transition: all .1s ease-in-out;


		.second, .first {
			position: absolute;
			width: 200px;
			left: 0;
			transition: all .2s ease-in-out;
		}

		.second {
				transform: translateY(30px);
		}

		.first {
				transform: translateY(0px);
			}



		&:hover .second {
			transform: translateY(0px);
		}

		&:hover .first {
			transform: translateY(-50px);
		}



	}

}



.navigation {
  color: #000;
  text-decoration: none;
	padding: 4px;
	position: relative;
	overflow: hidden;


  &:focus, &:active {
    color: #000;

  }
}





/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo__main__list li .toggle {
		background: none;
	}

	.todo__main__list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}
