@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;

  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}




.reaction {
  display: flex;
  max-width: 80%;
  flex-direction: row;
  align-items: center;
  padding: 40px;


}



.reaction__drawing {
  flex: 1 0 80%;
  max-height: 500px;
  height: 600px;
  position: relative;
  text-align: center;
}

.reaction__icon {
  width: 10%;
  height: 100px;
  align-self: flex-start;
  margin-top: 8%;
}

#icon-emblem {

}
#icon:active > #icon-emblem {
  transform: rotate(45deg);
  transform-origin: 7.5px 7.5px;

}

.reaction__dialogue {
  background: url('../common/dialogue.png');
  position: absolute;
  background-size: cover;
  background-position: center;
  display: flex;
  transition: all .3s ease-in;
  justify-content: center;
  width: 200px;
  height: 200px;
  left: 53%;
  top: -25%;
  color: #fff;

  p {
    padding-top: 20%;
  }
}
