$red: #39393a;
$white: #ffffff;
$colors:
  0 $red #ffffff,
  1 lighten($red, 10%) darken(#ffffff, 10%),
  2 lighten($red, 20%) darken(#ffffff, 10%),
  3 lighten($red, 30%) darken(#ffffff, 10%),
  4 lighten($red, 40%) darken(#ffffff, 10%),
  5 lighten($red, 50%) darken(#ffffff, 50%),
  6 lighten($red, 60%) darken(#ffffff, 80%),
  7 lighten($red, 70%) darken(#ffffff, 90%);



.organizer {
  margin-top: 50px;
  width: 100%;
}
.organizer__priorityList {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 50%;
  min-width: 250px;
  padding: 0;
  box-shadow: 20px 20px 30px 5px rgba(0,0,0,0.15);





  li {
    list-style: none;

    padding: 50px;
    text-align: center;
    transition: all .1s ease-out;
    cursor: grab;
    user-select: none;
    transition: all .2s ease-in-out;
    transform: rotateY(0px);

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      transform: rotateY(10px);
    }

    &:active, &:focus {
      background-color: #fff;
      color: #000;
    }
  }

  @each $i in $colors {
    .element-#{nth($i, 1)} {
      background-color: nth($i,2);
      color: nth($i,3);
    }
  }

}
